# ======================
# ENV FILES (MUHIM)
# ======================
.env
.env.*
# ======================
# NODE
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# BUILD / DIST
# ======================
dist/
build/
out/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / EDITOR
# ======================
.vscode/
.idea/
*.swp

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# CACHE
# ======================
.cache/
.next/
.nuxt/

# ======================
# NETLIFY / RENDER
# ======================
.netlify/
.render/
