[build]
command = "npm run build"
publish = "dist"
functions = "functions"

# API so‘rovlarni Netlify Function ga yo‘naltirish
[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true

# React / SPA uchun (refresh 404 bermaydi)
[[redirects]]
from = "/*"
to = "/index.html"
status = 200

